/* CRIAÇÃO DE VARIÁVEIS */
:root {
    --text-color: var(#667085);
    --main-color: var(#8E2424);
}

/* ESTILIZAÇÃO DA NAV BAR*/

/* RESET NO CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DECLARAÇÃO FLEX DO CONTAINER*/
#container{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 35px;
}
#logo{
    margin-inline: 100px;
}
#navMob{
    height: 0px;
    width: 0px;
    visibility: hidden;

}
/* ESTILIZAÇÃO DOS BUTTONS */
.subcontainer-btns{
    flex: 1 1 0px;
}
.subcontainer-btns button, .subcontainer-entcad button{
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 105px;
    height: 50px;
    color: #667085;
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    transition: 0.2s;
}
.subcontainer-btns button:hover{
    color: #fff;
    background-color: #8E2424;
}
.subcontainer-entcad{
    margin-inline-end:80px;
}
#btnEnt{
    width: 105px;
    border-radius: 10px;
}
#btnEnt:hover{
    color: #fff;
    background-color: #1c4583;
}
#btnCad{
    width: 105px;
    color: #fff;
    border-radius: 10px;
    background-color: #8E2424;
}
#btnCad:hover{
    background-color: #4b1211;
}

/* DECLARAÇÃO DE MEDIAS QUERIES */
@media (width <= 1145px){
    #logo{
        margin-inline: 15px;
        background-color: #fff;
        padding: 5px;
        border-radius: 15px;
    }
    #container{
        height: 100px;
    }
    .subcontainer-btns{
        margin: 15px;
        width: 100px;
    }
    .subcontainer-entcad{
        margin-inline-end: 15px;
    }
}
/* FIM DAS DECLARAÇÕES PARA O NAV*/

/* INÍCIO DECLARAÇÕES HEADER*/
.cabecalho{
    font-size: 18px;
    margin: auto;
    width: 600px;
    margin-top: 30px;
    text-align: center;
}
#title{
    margin-bottom: 15px;
    color: #8E2424;
}
.desc-txt{
    color: #667085;
    border-color: #1c4583 solid 2px;
    margin: 20px auto;
    width: 600px;
}
/* FIM DAS DECLARAÇÕES DO HEADER*/
/* DECLARAÇÕES SECTION */
#section-container{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat( auto-fit, 300px);
    justify-content: center;
    margin-top: 100px;
}
.section-item{
    font-size: 20px;
}
/* FIM DECLARAÇÕES SECTION */
/* MEDIA QUERIES */

@media (width <= 1345px){
    #section-container{
        margin-top: 100px;
        grid-template-columns: repeat( auto-fit, minmax(600px,));

    }
    #item-1 {
        grid-area: item-1;
    }
    #item-2 {
        grid-area: item-2;
    }
    #item-3 {
        grid-area: item-3;
    }
    #item-4 {
        grid-area: item-4;
    }
}
@media (width <= 930px){
    #logoMenu{
        width: 200px;
        height: 45px;
    }
    #navMob{
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #8E2424;
        padding: 15px;
        visibility: visible;
        width: 930px;
        max-width: 930px;
    }
    .cabecalho{
        font-size: 36px;
        margin-left: 0px;
        padding: 10px;
        text-align: center;
        width: 930px;
    }
    .desc-txt{
        width: 600px;
    }
    #container{
        visibility: hidden;
        margin-top: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 0px;
        border-right: #4b1211 6px solid;
        background-color: #f8f8f8;
        transition: 0.5s;
    }
    #btnCad{
        color: #667085;
        background-color: transparent;
    }
    #container:hover{
        opacity: 100%;
    }
    #btnCad:hover{
        color: #fff;
        background-color: #4b1211;
    }
    .subcontainer-btns{
        display: flex;
        width: 115px;
        flex-direction: column;
        margin-inline: 5px;
    }
    .subcontainer-entcad{
        display: flex;
        flex-direction: column;
        margin-inline: 5px;
    }
}
@media (660px >= width) {
    #navMob{
        height: 120px;
    }
    #logo{
        width: 180px;;
        height: 45px;
    }
}